<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../project/style.css">
    <link rel="stylesheet" href="../../project/sanduiche.css">
    <link rel="stylesheet" href="login.css">
    <!-- <script src="../../project/script.js"></script> -->
    <script src="login.js" defer></script>
    <title>LOGIN</title>
</head>
<body>
    <div id="fade" class="hide"></div>
    <div id="modal" class="hide">
        <a  href="../../index.html"> PLAYSTATION 5</a>
        <a href="../../index.html">XBOX SERIE S</a>
        <a href="../../index.html">NINTENDO SWICH</a>
         <a href="../../index.html"> OUTROS  </a>
    </div>
    <header>
        <div class="container-1">
            <div class="header1">
                <a href="../../index.html"><img src="https://cdn.pnghd.pics/data/7/astronaut-gif-transparent-15.jpg" alt=""></a>
                <label for="pesquisar"></label>
                <a href="../../index.html"><h1>UNIVERSE <br> GAMES</h1></a>
            </div>
            <div class="header2">
                <input type="text" name="pesquisar" id="" placeholder="Pesquisar " >
            <button id="btnCarrinhoCompras"><ion-icon name="cart-outline"></ion-icon> </button>
            </div>
            
        </div>
        <div class="navBar">
            <ion-icon style="color: white; width: 10%; height: 10vh; align-self: center;" name="menu-sharp"></ion-icon>
                <ul>
                    <li> <a href="../../index.html"> PLAYSTATION 5<ion-icon class="ico" name="caret-down-outline"></ion-icon> </a>
                        <ul class="dropdown">
                            <li> <a href="../../index.html"> JOGOS </a></li>
                            <li> <a href="../../index.html"> CONSOLE </a></li>
                            <li> <a href="../../index.html"> NOVIDADES </a></li>
                        </ul>
                    </li>
                    <li><a href="../../index.html">XBOX SERIE S<ion-icon class="ico" name="caret-down-outline"></ion-icon></a>
                        <ul class="dropdown">
                            <li> <a href="../../index.html"> JOGOS </a></li>
                            <li> <a href="../../index.html"> CONSOLE </a></li>
                            <li> <a href="../../index.html"> NOVIDADES </a></li>
                        </ul></li>
                    <li><a href="../../index.html">NINTENDO SWICH<ion-icon class="ico" name="caret-down-outline"></ion-icon></a>
                        <ul class="dropdown">
                            <li> <a href="../../index.html"> JOGOS </a></li>
                            <li> <a href="../../index.html"> CONSOLE </a></li>
                            <li> <a href="../../index.html"> NOVIDADES </a></li>
                        </ul></li>
                        <li> <a href="../../index.html"> INICIO <ion-icon class="ico" name="caret-down-outline"></ion-icon> </a>
                            <ul class="dropdown">
                                <li> <a href="../../index.html"> INFO </a></li>
                                <li> <a href="../../index.html"> LOCAL </a></li>
                            </ul></li>
                </ul>
        </div>
    </header>
    
    <main>
        <div class="whats">
            <a href="" target="_blank">
                <ion-icon name="logo-whatsapp"></ion-icon> 
            </a>
        </div>
        <div class="login-container">
            <form class="form-login">
                <h2 >Já sou cadastrado 💪</h2>
                <div class="input-group">
                    <label for="email">E-mail:</label>
                    <input type="email" id="usuario" name="email" required>
                </div>
                <div class="input-group">
                    <label for="password">Senha:</label>
                    <input type="password" id="senha" name="password" required>
                </div>
                <a href="../cadastro/cadastro.html">esqueceu a senha ou precisa criar?</a>
                <input class="button" type="submit" value="login">
            </form>
        </div>
    </main>

    <footer>
        <section class="section-3">
            <div class="footer-display">
                <div class="footer-1">
                    <h1> <span class="text-titile"> UNIVERSE <br>GAMER </span></h1>
                    <a><ion-icon name="logo-facebook"></ion-icon> FACEBOOK</a>
                    <a id="YTB" href="https://www.youtube.com/@vitechdev"><ion-icon name="logo-youtube"></ion-icon> YOUTUBE</a>
                    <a id="INSTA"> <ion-icon  name="logo-instagram" ></ion-icon> INSTAGRAM</a>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15354.733573927253!2d-48.0697127!3d-15.8206397!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x935a3391b366fc47%3A0x88c16b784a3ad98f!2sSenai%20Taguatinga!5e0!3m2!1spt-BR!2sbr!4v1699724945111!5m2!1spt-BR!2sbr" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <div class="footer-2">
                    <h1>Sobre</h1>
                    <p> <span class="text-titile">UNIVERSE GAMES</span> - Conectando Jogadores desde 2023

                        A <span class="text-titile">UNIVERSE GAMES</span> é a referência em jogos no Brasil desde 2023, inspirada pelo pioneirismo da Industria de Games. Oferecemos uma experiência única de compra e venda de jogos e consoles, com entregas rápidas via motoboy em Todo o Brasil e região metropolitana, de segunda a sabado.
                        
                        Encontre jogos acessíveis, usados e com garantia, garantindo diversão sem comprometer seu bolso. Na <span class="text-titile">UNIVERSE GAMES</span>, acreditamos que cada jogo conta uma história, e queremos que você faça parte dela.
                        
                        Junte-se à nossa comunidade de gamers, explore novos mundos virtuais e aproveite o que a <span class="text-titile">UNIVERSE GAMES</span> e a ShopB têm a oferecer. Sua diversão está garantida em cada compra. Venha para a <span class="text-titile">UNIVERSE GAMES</span> e embarque em uma jornada de possibilidades infinitas!</p>
                </div>
                <div class="footer-3">
                    <h1>DESENVOLVEDOR</h1>
                    <p>Numa galáxia não tão distante, Francisco Filipe, o feiticeiro do código, deu vida ao site da <span class="text-titile">UNIVERSE GAMES</span>. Com café como poção mágica, ele enfrentou bugs como se fossem dragões e transformou linhas de código em ouro digital. Dizem que, quando os requisitos do cliente se tornam monstros, Francisco realiza uma dança mística em torno da cadeira. Então, ao explorar a <span class="text-titile">UNIVERSE GAMES</span>, lembre-se do mago que fez do mundo dos jogos uma jornada encantada. 🧙‍♂️💻✨</p>
                    <p><a href="https://github.com/FranciscoFil"><ion-icon name="logo-github"></ion-icon> FranciscoFil</a> </p>
                </div>
            </div>
        </section>
        <section class="section-4">
            <h1>Selos</h1>
            <div class="security">
                <img src="https://cdn.awsli.com.br/138/138431/arquivos/compra.svg" alt="">
                <img src="https://cdn.awsli.com.br/138/138431/arquivos/google.svg" alt="">
                <img src="https://cdn.awsli.com.br/138/138431/arquivos/correrios.svg" alt="">
                <img src="https://cdn.awsli.com.br/138/138431/arquivos/opinioes.svg" alt="">
                <img src="https://cdn.awsli.com.br/138/138431/arquivos/selo_ra1000_mgu.svg" alt="">
            </div>
        </section>
    </footer>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>