/* .corpo-cadastro{
    background-color: black;
} */
.cadastro-form{
    background: linear-gradient(white, rgba(0, 0, 0, 0.771), black);
    
}
.cep-forme input{
    text-align: center;
    
}

.cadastro {
    width: 40%;
    height: 100vh;
} 


body{
    background-color: white;
}

form {
    border: 4px solid rgba(0, 0, 0, 0.603);
    width: 90%;
    height: 85vh;
    margin: auto ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
     background-image: url(https://i.pinimg.com/originals/f1/cd/38/f1cd38f38733afb0049d3a71213b2df0.gif);
    background-size: cover; 
    color: white;
    /* background: linear-gradient(90deg, rgba(3, 0, 36, 0.863), 3%, rgba(127, 127, 149, 0.774) 44%, rgba(130, 62, 193, 0.87) 94%); */
    box-shadow: 1px 1px 10px white;
    border-radius: 1rem;
    text-shadow: 1px 1px 1px black;
    
   
}
form:hover {
    width: 100%;
    height: 85vh;
    transition: width 2.6s, height 0.3s; /* Adicionei a transição aqui */
}


form div {
    width: 70%;
}

form div input[type=submit] {
    width: 50%;
    height: 100%;
}


input {
    width: 100%;
    border: none;
    box-shadow: 1px 1px 1px black;
    outline: none;
    height: 1.5rem;
    border-radius: 1rem;
    padding-left: 0.5rem;
}

input[type=submit] {
    background-color: green;
    border: none;
    cursor: pointer;
    color: white;
    font-weight: bolder;
    text-shadow: 1px 1px 10px black;
    box-shadow: 1px 1px 10px black;
    padding: 1rem;
}

input:hover {
    box-shadow: inset -3px -3px 10px black;

}
input[type=submit]:hover {
    background-color: rgb(18, 98, 18);

}

button img {
    width: 9vw;
    border-radius: 5rem;
    cursor: pointer;
}

button {
    background-color: inherit;
    border: none;
    padding: 1rem 1rem 0rem 1rem;
}



.tudo{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;

}
.cep-forme{
    width: 40%;
}
.cep-forme form {
    background-image: url(https://i.pinimg.com/originals/97/e5/79/97e579f78004012b43ca4f06c9577bcb.gif);
}